/.env.testing
/.phpstorm.meta.php
/vendor
/node_modules
.env
.idea
installed
/.settings/
/.project
/.buildpath
/composer.phar
_ide_helper.php
*.swp
*.swo
docker/
storage/database.sqlite
storage/exports
resources/badges/*.aux
resources/badges/*.log
resources/badges/*.pdf
resources/badges/*.csv
resources/badges/*.xlsx
.DS_Store
